.svg {
    enable-background: new 0 0 512 512;
}

.st0 {
    fill: #4f5d73;
}

.st1 {
    fill: #465162;
}

.st2 {
    fill: #c75c5c;
}

.st3 {
    fill: #e0995e;
}

.st4 {
    fill: #f5cd87;
}

.st5 {
    fill: #a65050;
}

.st6 {
    fill: #3f4755;
}

.st7 {
    fill: #ba8152;
}

.st8 {
    fill: #cbac72;
}

.st9 {
    fill: #e0e0d1;
}

.st10 {
    fill: #a99062;
}

.st11 {
    fill: #bab9ae;
}
