$headerHeight: 82px;
$footerHeight: 46px;

.content {
    padding: $headerHeight 8px 0;
    box-sizing: border-box;
    min-height: calc(100vh - #{$footerHeight});
}

.alignCenter {
    display: flex;
    align-items: center;
}
