.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header {
        margin: auto;
        padding: 10px 8px;
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        > div {
            display: flex;
            align-items: center;
        }

        .title {
            font-size: 40px;
        }

        .githubIcon {
            height: 40px;
            width: 40px;
            fill: white;
        }
    }
}
